src/android/.project
src/android/.gradle/7.0-rc-1/gc.properties
src/android/.gradle/7.0-rc-1/dependencies-accessors/dependencies-accessors.lock
src/android/.gradle/7.0-rc-1/dependencies-accessors/gc.properties
src/android/.gradle/7.0-rc-1/fileChanges/last-build.bin
src/android/.gradle/7.0-rc-1/fileHashes/fileHashes.lock
src/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
src/android/.gradle/buildOutputCleanup/cache.properties
src/android/.gradle/checksums/checksums.lock
src/android/.gradle/configuration-cache/gc.properties
src/android/.gradle/vcs-1/gc.properties
src/android/.settings/org.eclipse.buildship.core.prefs
